<MudDialog>
    <DialogContent>
        <div class="pa-6">
            <MudText Typo="Typo.h5" Class="mb-4">Do you want to delete?</MudText>
            <MudText Typo="Typo.body1" Color="Color.Error">This action cannot be undone.</MudText>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Size="Size.Large" Class="px-6">Cancel</MudButton>
        <MudButton OnClick="ConfirmDelete" Color="@Color.Error" Variant="Variant.Filled" Size="Size.Large" Class="px-6">Delete</MudButton>
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter]

    private MudDialogInstance MudDialog { get; set; }
    private void ConfirmDelete()
    {
        MudDialog.Close(DialogResult.Ok(true));

    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }
}
